<!-- start custom head snippets -->

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="{{ base_path }}/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>


<!-- Support for MatJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- Change Language automatically-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
      const saved = localStorage.getItem("langSelected");
      if (saved === "zh") {
        document.documentElement.lang = "zh";
      }
    //auto jump
    // if (saved === "zh" && !window.location.pathname.startsWith('/zh')) {
    //   window.location.href = '{{ base_path }}/zh' + window.location.pathname;
    // } else if (saved === 'en' && window.location.pathname.startsWith('/zh')) {
    //   window.location.href = '{{ base_path }}' + window.location.pathname.replace(/^\/zh/, '');
    // }
  });

  function switchLanguage(lang) {
    let currentPath = window.location.pathname;

    // 确保路径以 "/" 开头，防止 `//zh`
    if (!currentPath.startsWith("/")) {
      currentPath = "/" + currentPath;
    }

    // **存储用户选择的语言**
    localStorage.setItem("langSelected", lang);

    // **点击后进行切换**
    if (lang === "zh") {
      if (!currentPath.startsWith("/zh")) {
        window.location.href = "{{ base_path }}/zh" + currentPath;
      }
    } else { // 选择英文
      if (currentPath.startsWith("/zh")) {
        window.location.href = "{{ base_path }}" + currentPath.replace(/^\/zh/, "");
      } else {
        window.location.href = "{{ base_path }}/";
      }
    }
  }
</script>



<!-- end custom head snippets -->
