{% include base_path %}
{% include head/custom.html %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li class="masthead__menu-item language-switcher">
            <a href="javascript:void(0);" class="language-toggle">🌐 文 / A</a>
            <ul class="dropdown">
              <!-- English -->
              {% if page.translations contains "en" %}
                <li>
                  {% if page.lang == "zh" %}
                    <a href="{{ base_path }}{{ page.url | remove_first: '/zh' }}">English</a>
                  {% else %}
                    <span class="disabled">English</span>
                  {% endif %}
                </li>
              {% endif %}
              <!-- Chinese -->
              {% if page.translations contains "zh" %}
                <li>
                  {% if page.lang == "zh" %}
                    <span class="disabled">中文</span>
                  {% else %}
                    <a href="{{ base_path }}/zh{{ page.url }}">中文</a>
                  {% endif %}
                </li>
              {% endif %}
            </ul>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
