{% include base_path %}
{% include head/custom.html %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li class="masthead__menu-item language-switcher">
            <!-- 顶部显示的标签 -->
            <a href="javascript:void(0);" class="language-toggle">🌐 文 / A</a>

            <!-- 下拉菜单 -->
            <ul class="dropdown">
              <li>
                <!-- 英文链接：去掉 /zh 前缀 -->
                <a href="{{ base_path }}{{ page.url | remove_first: '/zh' }}"
                  {% if page.lang == "zh" %}class="active"{% endif %}>
                  English
                </a>
              </li>
              <li>
                <!-- 中文链接：加上 /zh 前缀 -->
                <a href="{{ base_path }}/zh{{ page.url }}"
                  {% unless page.lang == "zh" %}class="active"{% endunless %}>
                  中文
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
